language: python

install: pip install tox

script: tox

matrix:
  include:
    - env: TOXENV=py38,lint
      python: 3.8
    - env: TOXENV=py39,lint,doc DEPLOY=true
      python: 3.9

deploy:
  - provider: pages
    fqdn: diepvries.picnic.tech
    local_dir: doc/html
    skip_cleanup: true
    github_token: ${DEPLOY_GITHUB_TOKEN}
    keep_history: true
    on:
      branch: master
      tags: true
      condition: ${DEPLOY} = true
  - provider: script
    script: tox -e build -e upload
    on:
      branch: master
      tags: true
      condition: ${DEPLOY} = true
