name: pages-build-and-deploy

# Only run this workflow when a diepvries/* tag gets pushed
on:
  push:
    tags:
      - diepvries/*

jobs:
  deploy-github-pages:
    runs-on: ubuntu-22.04

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y graphviz
          python -m pip install tox
      - name: Run tox
        run: python -m tox -e doc
      - name: Configure Pages
        uses: actions/configure-pages@v5
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: doc/html
      - name: Deploy GitHub Pages site
        id: deployment
        uses: actions/deploy-pages@v4
